body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: coral;
}

main {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1em;
}

table {
    border-collapse: collapse;

}

th,
td {
    border: solid #333 0.1rem;
    padding: 0.5em;
}

thead {
    background-color: aqua;
}

.person {
    border: soid rgb(53, 147, 197) 0.2rem;
    padding: 0.5rem;
}

.error {
    color: red;
}

.info {
    color: rgb(3, 85, 136);
}

a {
    margin-top: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: blueviolet;
    font-size: 2rem;
}