<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/basicStyle.css">
</head>

<body>
    <main>
        <h1>
            <%= header %>
        </h1>

        <form action="<%= action %>" method="post">

            <p>
                <label for="id">Id: </label>
                <input type="text" id="id" name="id" size="5">
            </p>
            <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
    </main>
</body>

</html>